@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.loading{
   z-index: 99; 
   background-color: grey; 
   opacity: 0.7;
}

main div.interface{
	min-height: 100vh;
   max-height: 1200px;
   z-index: 1;
}

main div.results{
   margin-top: 100px;
}

main ul.list_results{
   height: 200px;
   width: 350px;	
   background-color: #4a8ee3;	
   list-style-type: none;
   font-size: 20px;
}

main div.photo_window{
   height: 400px;
   width: 900px;
	background-color: #bbbbbb;
   opacity: 0.5;
	margin-top: 50px;
}

@media (max-width: 450px){
   
   main div.photo_window{
      height: 200px;
      width: 90%;
      margin-top: 35px;
      font-size: 10px;
   }

   main div.results{
      margin-top: 30px;
   }

   main ul.list_results{
      height: 140px;
      width: 90%;
      font-size: 18px;
   }
}
