@import url('https://fonts.googleapis.com/css?family=PT+Sans');

ul.navbar-nav li.nav-item.active a.nav-link{
	border-bottom: 1.5px solid white;
	margin-bottom: -1.5px;
}

.nav_brands > .nav-item > .nav-link{
	padding: 0 40px;
}

.navbar-nav li{
	font-size: 16.4px;
	font-family: 'PT Sans', sans-serif; 
}

ul.navbar-nav li.nav-item a.nav-link:hover{
	border-bottom: 1.5px solid white;
	margin-bottom: -1.5px;
}

.part{ 
	background-color: white;
	font-family: 'PT Sans', sans-serif;
}

footer{
	font-family: 'PT Sans', sans-serif;
}

main div.body_support_page{
	min-height: 100vh;
	max-height: 850px;
}

main div.registration{
	min-height: 100vh;
	background: url("images/ludi12.jpg");
	background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main div.recovery_password{
	min-height: 100vh;
	background: url("images/ludi12.jpg");
	background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main div.success_registr{
	background: url("images/ludi12.jpg");
	background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
	text-align: center;
}

@media (max-width: 450px){

	main div.registration{
		min-height: 950px;
	}
}