<div class="account bg-light">
			<div class="container-custom">
				<div class="row justify-content-center justify-content-lg-around align-items-lg-start my-5 my-lg-1 pt-lg-5" style="height: 100vh;">
					<div class="col-md-5 col-lg-3">
						<ul class="nav d-flex flex-column px-lg-4 py-3 py-lg-4 nav-acc" style="background-color: #4a8ee3;" >
  							<li class="nav-item py-lg-1">
    							<a class="nav-link text-light" href="/account/profile">Профиль</a>
  							</li>
  							<li class="nav-item py-lg-1">
    							<a class="nav-link text-light" href="/account/history-determ">История распознаваний</a>
  							</li>
  							<li class="nav-item py-lg-1">
    							<a class="nav-link text-light" href="/account/change-data">Изменить данные профиля</a>
  							</li>
  							<li class="nav-item py-lg-1">
    							<a class="nav-link text-light" href="/logout">Выйти из аккаунта</a>
  							</li>
						</ul>
					</div>
					<div class="col-11 col-lg-8 ml-lg-5" ng-controller="profileController" ng-if="nav_account.page == 1">
						<div class="row mb-lg-2 mt-lg-0 mt-5 justify-content-center justify-content-lg-start">
							<h5>Профиль пользователя</h5>
						</div>
						<div class="row justify-content-center justify-content-lg-around py-lg-3 pt-2" style="background-color: #e6e6e6;">
							<div class="d-flex flex-column col-10 col-lg-4 mr-lg-3">
								<div class="card px-lg-2 pt-2">
  									<img class="card-img-top" ng-src="{{photoURL}}" alt="Card image cap" width="250" height="250">
  									<div class="card-body">
										<a class="btn btn-primary btn-block text-light" data-toggle="modal" data-target="#exampleModal">Редактировать</a>
  									</div>
								</div>
								<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <h5 class="modal-title" id="exampleModalLabel">Загрузка нового изображения</h5>
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
								      </div>
								      <div class="modal-body">
								        Выберите новое изображение для загрузки в профиль вашего аккаунта.
								        <br>
								        Вы можете загружать изображения формата JPG или PNG.
								      </div>
								      <div class="modal-footer justify-content-center justify-content-lg-center">
								        <div class="file btn btn-sm btn-primary">
											Выбрать изображение 
											<input type="file" name="file" accept="image/jpeg,image/png" onchange="angular.element(this).scope().readURL(this)"/>
										</div>
								      </div>
								    </div>
								  </div>
								</div>
							</div>
							<div class="col-10 col-lg-6 my-2">
								<ul class="list-group list-group-flush">
									<li class="list-group-item">Имя пользователя: {{username}}</li>
									<li class="list-group-item">
										<span>Город: {{City}}</span><br>
										<span>Email: {{Email}}</span><br>
										<span>Дата рождения: {{Date}}</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-11 col-lg-8 ml-lg-5" ng-controller="showHisrotyController" ng-if="nav_account.page == 2">
						<div class="row mb-lg-2 mt-lg-0 mt-5 justify-content-center justify-content-lg-start">
							<h5>История распознаваний</h5>
						</div>
						<div class="row py-lg-3">
							<div class="d-flex col-12 col-lg-12 justify-content-lg-center align-items-lg-center" ng-hide="history_determ">
								<h4>История распознаваний пустая</h4>
							</div>
							<div class="col-12 col-lg-12" ng-show="history_determ" style="height: 350px; overflow-y: scroll;">
								<table class="table table-hover">
									<thead style="text-align: center;">
										<tr>
											<th>#</th>
											<th>Результаты распознавания</th>
											<th>Фотография</th>
										</tr>
									</thead>
									<tbody ng-repeat="history_id in history">
										<tr>
										   <th style="text-align: center;">{{$index + 1}}</th>
										   <td>
										   	 <div class="d-flex justify-content-lg-center">
										   	 	Возраст: {{history_id.age_determ}} лет<br>
										   	  	Пол: {{history_id.gender_determ}}<br>
										   	  	Возрастная группа: {{history_id.age_group_determ}}
										   	 </div>
										   </td>
										   <td>
										   	 <div class="d-flex justify-content-lg-center">
										   	 	<img ng-src="{{history_id.photo_used_determ}}" alt="" width="150" height="150">
										   	 </div>
										   </td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-11 col-lg-8 ml-lg-5" ng-if="nav_account.page == 3">
						<div class="row mb-lg-2 mt-lg-0 mt-5 justify-content-center justify-content-lg-start">
							<h5>Изменение данных профиля</h5>
						</div>
						<div class="row py-lg-3 justify-content-lg-start">
							<div class="col-lg-10">
								<ul class="list-group list-group-flush">
							  		<li class="px-0 px-lg-0 list1 list-group-item bg-light">
							  			<span>Информация об пользователе</span>
							  			<a class="float-right" href="#" ng-hide="link == 1" ng-click="showBlock(1)">Изменить</a>
							  			<a class="float-right" href="#" ng-show="link == 1" ng-click="hideBlock(1)">Отмена</a>
							  			<form role="form" class="form1 mt-lg-3" id="needs-validation1" ng-show="link == 1" novalidate>
							  				<div class="form-group row">
							  					<label for="username" class="col-lg-3 col-form-label">Имя пользователя</label>
							  					<div class="col-lg-5">
							  						<input class="form-control" id="username" type="text" ng-model="$parent.username" required>
							  					</div>
							  				</div>
							  				<div class="form-group row">
							  					<label for="Date" class="col-lg-3 col-form-label">Дата рождения</label>
							  					<div class="col-lg-5">
							  						<input class="form-control" id="Date" type="date" ng-model="$parent.date_birth" required>
							  					</div>
							  				</div>
							  				<div class="form-group row">
							  					<label for="City" class="col-lg-3 col-form-label">Город</label>
							  					<div class="col-lg-5">
							  						<input class="form-control" id="City" type="text" ng-model="$parent.city" required>
							  						<div class="d-flex justify-content-center justify-content-lg-start">
							  							<button type="button" class="mt-2 mt-lg-2 btn btn-primary btn-sm" ng-click="updateUserInfo()">Сохранить изменения</button>
							  						</div>
							  					</div>
							  				</div>
							  			</form>
							  		</li>
							  		<li class="px-0 px-lg-0 list2 list-group-item bg-light">
							  			<span>Адрес электронной почты</span>
							  			<a class="float-right" href="#" ng-hide="link == 2" ng-click="showBlock(2)">Изменить</a>
							  			<a class="float-right" href="#" ng-show="link == 2" ng-click="hideBlock(2)">Отмена</a>
							  			<form role="form" class="form-horizontal form2 mt-lg-3" id="needs-validation2" ng-show="link == 2" novalidate>
							  				<div class="form-group row">
							  					<label for="Email" class="col-lg-3 col-form-label">Новый адрес</label>
							  					<div class="col-lg-5">
							  						<input class="form-control" id="Email" type="email" ng-model="$parent.email" required>
							  						<div class="d-flex justify-content-center justify-content-lg-start">
							  							<button type="button" class="mt-2 mt-lg-2 btn btn-primary btn-sm" ng-click="saveEmail()">Сохранить адрес</button>
							  						</div>
							  					</div>
							  				</div>
							  			</form>
							  		</li>
							  		<li class="px-0 px-lg-0 list3 list-group-item justify-content-lg-between bg-light">
							  			<span>Пароль</span>
							  			<a class="float-right" href="#" ng-hide="link == 3" ng-click="showBlock(3)">Изменить</a>
							  			<a class="float-right" href="#" ng-show="link == 3" ng-click="hideBlock(3)">Отмена</a>
							  			<form role="form" class="form-horizontal form3 mt-lg-3" id="needs-validation3" ng-show="link == 3" novalidate>
							  				<div class="form-group row">
							  					<label for="password" class="col-lg-3 col-form-label">Новый пароль</label>
							  					<div class="col-lg-5">
							  						<input class="form-control" id="password" type="password" ng-model="$parent.password" required>
							  						<div class="d-flex justify-content-center justify-content-lg-start">
							  							<button type="button" class="mt-2 mt-lg-2 btn btn-primary btn-sm" ng-click="savePassword()">Сохранить пароль</button>
							  						</div>
							  					</div>
							  				</div>
							  			</form>
							  		</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
		</div>