<div class="recovery_password">
         	<div class="container-fluid">
         		<div class="row justify-content-center justify-content-lg-center align-items-center align-items-lg-center" style="height: 100vh;">
         			<form role="form" id="form" class="px-2 py-2 py-lg-3 px-lg-3" style="background-color: #fff;" novalidate>
         				<h3>Восстановление пароля</h3>
         				<div class="form-group">
         					<label for="Email">Адрес электронной почты</label>
         					<input type="email" class="form-control" id="Email" ng-model="email" placeholder="Введите адрес электронной почты" required>
         				</div>
         				<div class="form-group">
         					<label for="Password">Новый пароль</label>
         					<input type="password" class="form-control" id="Password" ng-model="new_password" placeholder="Введите новый пароль" required>
         				</div>
         				<div class="d-flex form-group justify-content-center justify-content-lg-center">
         					<button class="btn btn-primary" ng-click="recovery($event)">Восстановить пароль</button>
         				</div>
         			</form>
         		</div>
         	</div>
         </div>