<div class="recovery_password">
         	<div class="container-fluid">
         		<div class="row justify-content-center justify-content-lg-center align-items-center align-items-lg-center" style="height: 100vh;">
         			<form role="form" id="form" class="px-2 py-2 py-lg-3 px-lg-3" style="background-color: #fff;">
         				<h3>Восстановление пароля</h3>
         				<div class="form-group">
         					<label for="email">Адрес электронной почты</label>
         					<input type="text" class="form-control" id="email" ng-model="email" ng-keyup="input_check($event)" placeholder="Введите адрес электронной почты">
                        <div class="invalid-feedback" id="feedback-email"></div>
         				</div>
         				<div class="form-group">
         					<label for="password">Новый пароль</label>
         					<input type="password" class="form-control" id="password" ng-model="new_password" ng-keyup="input_check($event)" placeholder="Введите новый пароль">
                        <div class="invalid-feedback" id="feedback-password"></div>
         				</div>
         				<div class="d-flex form-group justify-content-center justify-content-lg-center">
         					<button class="btn btn-primary" ng-click="recovery($event)">Восстановить пароль</button>
         				</div>
         			</form>
         		</div>
         	</div>
         </div>