<div class="registration">
         	<div class="container">
         		<div class="row py-lg-5 justify-content-lg-around" id="registr" ng-hide="message">
         			<div class="col-lg-5 order-2 order-lg-1">
         				<form role="form" class="px-3 py-1 px-lg-3 py-lg-3" id="form" style="background-color: #fff;" novalidate>
         					<div class="form-group">
    							<label for="username">Имя пользователя</label>
    							<input type="text" class="form-control" id="username" ng-model="username" ng-keyup="input_check($event)" placeholder="Введите имя пользователя" required>
                  <div class="invalid-feedback" id="feedback-username"></div>
  							</div>
  							<div class="form-group">
    							<label for="email">Адрес электронной почты</label>
    							<input type="text" class="form-control" id="email" ng-model="email" ng-keyup="input_check($event)" placeholder="Введите адрес электронной почты" required>
                  <div class="invalid-feedback" id="feedback-email"></div>
  							</div>
  							<div class="form-group">
    							<label for="date">Дата рождения</label>
    							<input type="date" class="form-control" id="date" ng-model="date" ng-click="input_check($event)" placeholder="Введите дату рождения" required>
                  <div class="invalid-feedback" id="feedback-date"></div>
  							</div>
                <div class="form-group">
                  <label for="city">Город</label>
                  <input type="text" class="form-control" id="city" ng-model="city" ng-keyup="input_check($event)" placeholder="Введите название вашего города" required>
                  <div class="invalid-feedback" id="feedback-city"></div>
                </div>
  							<div class="form-group">
  								<h6>Фотография</h6>
  								<div class="custom-file">
    								<input type="file" class="custom-file-input" id="Photo" accept="image/jpeg,image/png" onchange="angular.element(this).scope().readURL(this)">
    								<label class="custom-file-label" for="Photo">Выберите фотографию</label>
  								</div>
  							</div>
  							<div class="form-group">
    							<label for="Password">Пароль</label>
    							<input type="password" class="form-control" id="password" ng-model="password" ng-keyup="input_check($event)" placeholder="Введите пароль" required>
                  <div class="invalid-feedback" id="feedback-password"></div>
  							</div>
  							<div class="form-group d-flex justify-content-center">
  								<button ng-click="registr($event)" class="btn btn-primary">Зарегистрироваться</button>
  							</div>
         				</form>
         			</div>
         			<div class="col-lg-6 order-1 order-lg-2 mt-3 mt-lg-0">
         				<h3>Регистрация нового пользователя</h3>
         				<p>Для использования функционала веб-сервиса для разпознавания возраста, возрастной группы и пола человека на изображении необходимо зарегистрироваться. Для этого укажите необходимые данные в форме для регистрации нового пользователя и нажмите кнопку "Зарегистрироваться"</p>
         			</div>
         		</div>
            <div class="row justify-content-lg-center align-items-center align-items-lg-center" id="message" style="height: 100vh;" ng-show="message">
                <div class="col-lg-8">
                    <div class="row justify-content-lg-around align-items-lg-center py-lg-4" style="background-color: #fff;">
                      <div class="col-lg-4">
                          <a class="btn btn-primary btn-sm" href="/autorization">Перейти на страницу авторизации</a>
                      </div>
                      <div class="col-lg-4">
                          <p>Регистрация нового аккаунта прошла успешно. Перейдете на страницу авторизации для того, чтобы под своимии данными вы могли войти в личный кабинет</p>
                      </div>
                    </div>
                </div>
            </div>
         	</div>
         </div>