<div class="support_page bg-light">
         	<div class="container pt-lg-5 pt-xl-5">
         		<div class="row mt-3 pt-lg-5 pt-xl-5 mt-lg-0 mt-xl-0 justify-content-lg-around">
         			<div class="col-lg-5 col-xl-5 order-12 order-lg-1">
         				<form class="border border-dark support mb-5 pt-3 pt-lg-3" id="needs-validation" novalidate>
         					<div class="form-group">
         						<label class="pl-3 pl-lg-3" for="username">Имя пользователя</label>
         						<div class="col-lg-12">
         							<input type="text" class="form-control" id="username" ng-model="username" placeholder="Введите имя пользователя" required>
         						</div>
         					</div>
         					<div class="form-group">
         						<label class="pl-3 pl-lg-3" for="email_adress">Адрес электронной почты</label>
         						<div class="col-lg-12">
         							<input type="email" class="form-control" id="email_adress" ng-model="email" placeholder="Введите адрес электронной почты" required>
         						</div>
         					</div>
         					<div class="form-group">
         						<label class="pl-3 pl-lg-3" for="select_problem">Выберите тип проблемы</label>
         						<div class="col-lg-12">
         							<select class="form-control" id="select_problem" ng-model="type_problem" required>
         								<option>Выберите тип проблемы</option>
         								<option>Распознавание возраста и пола</option>
         								<option>Функционал веб-сервиса</option>
         								<option>Другая проблема</option>
         							</select>
         						</div>
         					</div>
         					<div class="form-group">
         						<label class="pl-3 pl-lg-3" for="discription_problem">Описание проблемы</label>
         						<div class="col-lg-12">
         							<textarea class="form-control" id="discription_problem" ng-model="problem" rows="3" style="resize: none;" required></textarea>
         						</div>
         					</div>
         					<div class="form-group">
         						<div class="d-flex col-lg-12 justify-content-center justify-content-lg-center">
         							<button ng-click="sendSupport($event)" class="btn btn-primary">Отправить</button>
         						</div>
         					</div>
         				</form>
         			</div>
         			<div class="col-lg-5 col-xl-5 order-1 order-lg-12 mb-2 mb-lg-0">
         					<h2>Техническая поддержка</h2>
         					<p>Если вы заметили, что функционал веб-сервиса работает некорректно, то заполните все необходимые данные в форме для отправки нам, чтобы мы своевременно могли решить замеченную вами проблему в работоспособности веб-сервиса</p>
         			</div>
         		</div>
         	</div>
         </div>